; Please edit all neccessary variables to your needs
; you can access them in the php-Code via the method "parse_ini_file()""

; In this section are all required data for the connection to a database 
[mySQL]

; name of the server
db_servername = 

; name of the mySQL database
db_name =  

; username for the connection to mySQL
db_user = 

; password for the connection to mySQL
db_password = 


